* {
    margin: 0;
    padding: 0;;
}

body, html, #root {
    height: 100%;
}

#root {
    display: flex;

    .section-sidebar {
        background: #f3d083;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .section-content {
        padding: 3rem 5rem;
        flex-grow: 2;
        background: #f9f3e6;
    }
}
