/* body {
    background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%);
} */

* {
    margin: 0;
    padding: 0;;
}

body, html, #root {
    height: 100%;
    background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%);
}

#root {
    display: flex;
}

.section {
    background: red;
    width: 50%;
}
